<%include partials/header %>
<h1><%= message%></h1>
<h1>Login Page</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="login"> 
    <!--instead of input<type ="submit">, you can use <button></button>-->
</form>
<a href="/register">Haven't registered?</a>

<%include partials/footer %>